/* fonts and colours */
.font-lora {
	font-family: 'Lora', serif;
}

.font-lato {
	font-family: 'Lato', sans-serif;
}

.default-font-size {
	font-size: 3rem;
}

h1, h2, p {
	color: rgb(23 37 84);
}

a {
	color: #DB0077;
	text-decoration: none;
	
}

.project {
	box-shadow: inset 0 0 0 0 #DB0077;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.project:hover {
	color: #f6f6f6;
	box-shadow: inset 500px 0 0 0 #DB0077;
}

.tag {
	background-color: #72e3e8;
	padding: 5px 10px;
	border-radius: 10px;
}

.bullet-point {
	list-style-type: '\2605';
}