/* key elements */
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

h1 {
	padding-top: 12%;
	padding-bottom: 0%;
	font-size: medium;
	font-weight: normal;
}

h2 {
	text-indent: 5%;
	font-weight: normal;
}

p {
	font-size: 125%;
}

section {
	float: left;
	margin: 0 1.5%;
	width: 63%;
	height: 100vh;
}

hr {
	margin-block-start: 0%;
}

/* general formatting */
.h-screen {
	height: 100vh;
}

.h-center {
	margin-top: auto;
	margin-bottom: auto;
}

.w-screen {
	width: 100vw;
}

.w-center-text {
	text-align: center;
}

/* nav bar */
header {
	display: flex;
	justify-content: space-between;
	min-height: 10%;
	align-items: center;
	padding: 0px 2%;
	border-color: #abcdbb;
	border-bottom-style: solid;
	overflow: hidden;
	font-size: 20px;
	color: #f6f6f6;
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
}

header h1 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #f6f6f6;
}

header li, a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

header p {
	padding: 0px 4%;
}

nav {
	list-style: none;
}

nav li {
	display: inline-block;
	padding: 0px 20px;
}

/* intro section */
.main-header {
	font-size: 150px;
	font-size: 12vmin;
	text-align: left;
}

.introContainer {
	display: flex;
	position: relative;
	text-align: center;
	height: 70%;
	padding-top: 15vh;
}

img.headshot {
	height: auto;
	width: auto;
	max-height: 50%;
	max-width: 20%;
	padding: 5%;
	border-radius: 40%;
	margin-left: 15%;
}

img.arrow {
	display: flex;
	justify-self: center;
	margin: auto;
}

/* all content */
.content {
	width: 85%;
	margin-top: 0%;
	padding-top: 0%;
	padding-left: 10%;
}

/* about section */


/* project section */
img.project {
	width: 40%;
	height: 40%;
}

img.project:hover {
	box-shadow: 10px 10px 10px gray;
	border-radius: 20%;
	position: relative;
	top: -10px;
}

.subheading {
	font-style: italic;
	padding-bottom: 2%;
}