/* key elements */
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

h1 {
	padding-top: 7rem;
	padding-bottom: 0%;
	font-size: medium;
	font-weight: normal;
}

h2 {
	text-indent: 5%;
	font-weight: normal;
}

section {
	float: left;
	margin: 0 1.5%;
	width: 63%;
	height: 100vh;
}

hr {
	margin-block-start: 0%;
}

/* intro section */
.main-header {
	font-size: 150px;
	font-size: 12vmin;
	text-align: left;
}

.introContainer {
	display: flex;
	position: relative;
	text-align: center;
	height: 70%;
	padding-top: 15vh;
}

img.headshot {
	height: auto;
	width: auto;
	max-height: 50%;
	max-width: 20%;
	border-radius: 40%;
	margin-left: 25%;
	margin-right: 5%;
}

img.arrow {
	display: flex;
	justify-self: center;
	margin: auto;
}
