html {
	scroll-behavior: smooth;
}

body, html {
	height: 100%;
	margin: 0;
}

body {
	border-style: hidden;
	font-family: 'Lora', serif;
	/*overflow-x: hidden;*/
	/*overflow-y: hidden;*/
}

.introContainer {
	position: relative;
	text-align: center;
}

#intro {
	height: 100%;
}

/*.introRow {
	display: flex;
}

.introColumn {
	flex: 50%;
	padding: 5px;
} */

img.intro {
	width: 100%;
	height: 100%;
}

img.project {
	width: 40%;
	height: 40%;
}

img.project:hover {
	box-shadow: 10px 10px 10px gray;
	border-radius: 20%;
	position: relative;
	top: -10px;
}


.introText {
	position: absolute;
	top: 75%;
	bottom: 25%;
	left: 40%;
	color: rgb(171, 205, 187);
	font-family: 'Arial', sans-serif;
	font-style: italic;
	font-size: 30px;
}

h1 {
	padding-top: 12%;
	padding-bottom: 0%;
}

h2 {
	text-indent: 5%;
	font-weight: normal;
}

h3 {
	
}

.subheading {
	font-style: italic;
	padding-bottom: 2%;
	}

p {
	font-size: 125%;
}

section {
	float: left;
	margin: 0 1.5%;
	width: 63%;
	height: 100vh;
}

/* rgb(171, 205, 187) */
.menu {
	background-color: white;
	border-color: rgb(171, 205, 187);
	border-bottom-style: solid;
	overflow: hidden;
	text-align: center;
}

.menu li {
	display: inline;
}

.menu a {
	display: inline-block;
	padding: 1%;
	text-decoration: none;
	font-size: 20px;
	color: black;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.content {
	width: 85%;
	margin-top: 0%;
	padding-top: 0%;
	padding-left: 10%;
}